<!DOCTYPE html>
<html>
<head>
	<title>Download Status</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<style>
		body {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;
		}

		#download-status {
			text-align: center;
			font-size: 24px;
		}

		#back-button {
			margin-top: 20px;
			font-size: 16px;
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div>
		<h1 style="text-align: center;">Download Status</h1>
		<p id="download-status"></p>
		<div id="back-button">Back to Download Form</div>
	</div>
	<script>
		$(document).ready(function() {
			$.getJSON('/progress', function(data) {
				if (data.progress > 0) {
					$('#download-status').text(data.progress.kb_downloaded.toFixed(2) + ' KB downloaded');
				}
			});

			$('#back-button').click(function() {
				window.location.href = '/';
			});
		});
	</script>
</body>
</html>
